/* styles.css */

* {
    box-sizing: border-box;
    
}

.main {
    font-family: "Georgia", sans-serif;
}

body { 
    background-color: #2C5D63;
}

h1 { /* Titles */
    font-family: Copperplate;
    color: #F7EEBB;
    font-size: 32px;
    padding: 10px; /* To add space for the background */
    border: 10px solid #A9C52F45;
    margin-bottom: 40px; /* This is used to separate items*/
}

h4{
    color: #F7EEBB;
    font-size: 18px;
    margin-bottom:-10px;
}

li, a, p {
    color: #A9C52F;
}

li {
    line-height: 20px;
}

.list-one {
    line-height: 30px;
}

.parent-container {
    margin: 0px;
    padding: 30px;
    justify-self: center;
    align-self: center;

    
    background-color: #F7EEBB;
    height: 600px;
    width: 600px;

    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.parent-container div {
    
    height: 100px;
    flex-basis: 100px;
    background-color: #b8cd59;
    border: 5px solid #6b7a2a;
    border-radius: 20px;

}



